html {

}

header {
  background-color:white;
}



.ham {
/* always keep ham on top of everything */
z-index: 1500;	
margin-top: 50px;
width: 100px;
height: 100px;
border: none;
cursor: pointer;
/* show the menu image */
background-image: url("hamb.png");
background-repeat:no-repeat;
background-size:100% 100%;	
position: fixed;
padding-bottom:0px;
border-radius: 50px;	
}

.ham:focus{
outline: none;
}

.showClose {
background-image: url("cross4.jpg");
background-repeat:no-repeat;
background-size:cover;	
width: 70px;
height: 70px;
margin-top: 50px; 
margin-bottom:0px;
z-index:1500;	
position: fixed;
border-radius: 25px;
}


.navbar {
position:fixed;
margin-top: 160px;
background:  white;
    margin-left:0px;
width: 100%;	
height: auto;	
z-index:400;		
margin-bottom:10px;
border-radius:0px;
  text-align:center;
  border-bottom: 6px solid black;

/* hide the menu above the screen by default */
transform: translateY(-170%);
/* transition adds a little animation when sliding in and out the menu */
transition: transform 0.2s ease;
}



.showNav {
/* show the menu */
transform: translateY(-20%);
  
}

.navbar ul {		
margin-bottom:0px;
    margin-top:0px;
padding-top:0px;
margin-left:0px; 
}

.navbar li {
font-size:4rem;
text-decoration:none;
padding-bottom:30px;
padding-top:30px;
list-style-type: none;
text-align:center;
margin-left:0px;
}


.navbar li a:hover {
color:#b3ccff;
}

.navbar li a {
text-decoration:none;
color:  black; 
font-family: lato, "open sans condensed", sans-serif;
}



#menu {
margin-top:0px;	
display: flex;
width:100%;	
margin-left:0px;
margin-right:0px;
background-color:white;
border-bottom: 6px solid black;
justify-content:space-between;
color:#1a1a1a;
flex-wrap:nowrap;
flex: 1 1 auto;
height:180px;		
z-index:500;
margin-bottom:-55px;	
}


.box {
display:flex;	
}

.box-2 {	
width:60%;
}

box-3 {
  width:20%;}

.box-1  {
width: 20%;	
margin-top:auto;
margin-bottom:auto;
margin-left:50px;
text-align:center;  
}


.europeshead {
color:white;
font-size:4rem;
margin-top:auto;
margin-bottom:auto;
}

.efootlog {	
float:left;
margin-left:25px;
}



